.preview-header {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    background-color: var(--color-surface-200);
    color: var(--color-surface-600);
}

.preview-header div {
    display: flex;
    align-items: center;
}

.raw-info {
    background-color: var(--color-surface-200);
    color: var(--color-surface-600);
    text-align: end;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 4px;
    font-size: 0.8em;
}