.textfield-column {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 70%;
    position: relative;
}

.generated-url {
    width: 70%;
    align-self: center;
    margin-top: 56px;
    position: relative;
}

.fill-form-text {
    margin-top: 8px;
    color: red;
}

.logo {
    margin-bottom: 24px;
}

.help,
.help:visited {
    color: lightskyblue;
    font-size: 0.8em;
    background-color: transparent;
    border: none;
    text-align: end;
}

.help:hover {
    cursor: pointer;
}