.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 32px 0 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: sticky;
    top: 0;
    background-color: var(--color-surface-100);
}

.path-links {
    color: var(--color-primary-500);
    display: flex;
    flex-wrap: wrap;
    margin: 0 32px 0 0;
    align-items: center;
}

.path-link:link,
.path-link:visited {
    color: lightskyblue;
}

.logo {
    margin-right: 16px;
}